# Flutter / Dart
.dart_tool/
.packages
.pub-cache/
build/

# Android
android/.gradle/
android/app/**/local.properties

# iOS
ios/Pods/
ios/Runner.xcworkspace/
ios/Flutter/Flutter.framework

# IDEs
.vscode/
.idea/
*.iml

# Misc
*.log